html {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 2em;
    width: 50em;
    background: #ADEFD1FF;
    display: flex;
    justify-content: space-around;
    border-radius: 2em;
}

.img {
    padding: 1em;
    border-radius: 25px;
}

.title2 {
    font-weight: bold;
}

.text {
    padding: 1em;
}