@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background: rgb(173, 222, 245);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    -webkit-text-stroke: 0.1px white;
}

h2{
    color:#32bea6
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    -webkit-text-stroke: 0.1px white;
}

.logo_image {
    width: 20em;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign_in {
    margin-top: 4em;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sign_in_image {
    height: 25em;
    width: 25em;
    border-radius: 50%;
}

input:focus {
    background-color: lightblue;
}

input {
    text-decoration: none;
    width: 25em;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 2em;
}
.sign_in_form {
    width: 20em;
    padding: 3em;
    background: rgba(255, 255, 255, 50%);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type=submit] {
    background-color: rgb(173, 222, 245);
    color: #000732;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 2em;

}
.profile_image{
    width: 10em;
    height: 10em;
    border-radius: 50%;
}
.sub_img{
    width: 10em;
    height: 10em;
}


.profile{
    background: rgba(255,255,255,80%);
    padding: 2em;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35em;
    width: 25em;
}

.main_content{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    width: 30em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.stats{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.subjects{
    background: rgba(255,255,255,80%);
    width:40em ;
    padding: 2em;
    border-radius: 2em;
    margin-left: 4em;
    height: 35em;
    display: grid;
    grid-template-columns: 6fr 6fr 6fr;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

.progress_bar{
    width: 15em;
    height: 1.5em;
}

.actions {

    background: rgba(255,255,255,80%);
    margin-left: 2em;
    border-radius: 2em;
    padding: 2em;
    height: 35em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.learning{
    background: white;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1em;
    margin-bottom: 1em;
}
.practicing{
    background: white;
padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1em;
    margin-bottom: 1em;
}
.testing{
    background: white;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1em;
}
.text{
    margin-left: 2em;
    width: 50em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.vid{
    width: 15em;
    height: 10em;
    border-radius: 2em;
}

.videos{
    background: rgba(255,255,255,80%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    border-radius: 2em;
}
.prime{
    background: white;
    border-radius: 2em;
    padding: 1em;
    display: flex;
    justify-content: center;
    margin: 1em;
}

video{
    width: 70em;
    border-radius: 2em;
}

.timer{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 40%;
}
.minutes, .seconds{
    font-size:3rem;
}

.countdown-timer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

.countdown-timer-container div {
    width: 25%;
    text-align: center;
    font-size: 2em;
}
.countdown-timer-values{
    font-size: 4em; !important;
}

.exercise_form {
    width: 50em;
    padding: 3em;
    background: rgba(255, 255, 255, 50%);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.exercise_form img {
    margin-bottom: 2em;
}